@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* CSS Resets */

:root {
  font-size: 10px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  --primary-dark: #333;
  --primary-light: #efefef;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  border: none;
}

*:focus {
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Basic Layout Styling */

body {
  background-color: var(--primary-light);
  color: var(--primary-light);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: var(--primary-dark);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  gap: 1.5rem;
  position: relative;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  color: var(--primary-light);
}

.btn {
  padding: 1.4rem;
  font-size: 1.5rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 1rem;
  font-weight: 400;
  transition: all 0.15s;
}

.btn:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  box-shadow: 0 0 15px 0 rgba(239, 239, 239, 0.7);
}

main {
  flex: 1;
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid var(--primary-dark);
  border-radius: 1rem;
  width: min(600px, 85vw);
  height: 600px;
  padding: 2rem;
}

.gameboard-grid {
  width: 90%;
  height: 90%;
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  font-size: 8rem;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-top: none;
  border-bottom: none;
}

.cell:nth-child(2),
.cell:nth-child(5),
.cell:nth-child(8) {
  border-left: none;
  border-right: none;
}

.turn-status {
  font-size: 3.5rem;
  color: var(--primary-dark);
  text-align: center;
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-dark);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(400px, 40vw);
  height: 300px;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);
}

.modal.active {
  transform: translate(-50%, calc(-50% + 4.5rem)) scale(1);
}

.modal > h3 {
  font-size: 3.5rem;
}

.modal > .btn {
  padding: 2.5rem 3.5rem;
  font-size: 2.1rem;
}
